@page
@model lab4.Pages.StudentManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>
</div>

<div>
    <h1>Academic Records</h1>
    <table class="table">
        <thead>
            <tr>
                <th><label class="control-label"><a asp-page="Details" asp-route-orderby="Course" asp-route-id="@Model.Student.Id">Course</a></label></th>
                <th><label class="control-label"><a asp-page="Details" asp-route-orderby="Grade" asp-route-id="@Model.Student.Id">Grade</a></label></th>
            </tr>
        </thead>

        <tbody>

            @if(Model.OrderBy == "Grade" || Model.OrderBy == null)
            {
                @foreach(var record in Model.AcademicRecordsList) {

                    @foreach(var availableCourse in Model.AllAvailableCoursesList){

                        if (record.CourseCode == availableCourse.Code) {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => availableCourse.Title)</td>
                                <td>@Html.DisplayFor(modelItem => record.Grade)</td>
                            </tr>
                        }
                    }
                }
            }

            @if (Model.OrderBy == "Course")
            {
                @foreach(var availableCourse in Model.AllAvailableCoursesList) {
                    
                    @foreach(var record in Model.AcademicRecordsList){

                        if (record.CourseCode == availableCourse.Code) {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => availableCourse.Title)</td>
                                <td>@Html.DisplayFor(modelItem => record.Grade)</td>
                            </tr>
                        }
                    }
                }
            }
            
        </tbody>
    </table>

</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>
