@page
@model lab4.Pages.StudentManagement.IndexModel

@{
    ViewData["Title"] = "Index - Student Management";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-orderby="studentName">Name</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-orderby="numberOfCourses">Number of Courses</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-orderby="averageGrade">Avg. Grade</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            List<lab4.DataAccess.Student> Students = Model.StudentsList;
            
            if (Model.OrderBy == "studentName") {

                Console.WriteLine("order by studentName");

                Model.StudentsList.Sort( (student1, student2) => student1.Name.CompareTo(student2.Name) );
            }

            if (Model.OrderBy == "numberOfCourses") {


                Model.StudentsList.Sort( (student1, student2) => student1.AcademicRecords.Count.CompareTo(student2.AcademicRecords.Count) );
            }

            if (Model.OrderBy == "averageGrade") {

            }
        }

        @foreach (var item in Model.StudentsList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcademicRecords.Count)
                    </td>
                    <td>
                            @{
                                int sumGrade = 0;

                                foreach (var AcademicRecord in item.AcademicRecords)
                                {
                                    if (item.Id == AcademicRecord.StudentId) { sumGrade = sumGrade + (int)AcademicRecord.Grade!; }
                                }

                                var avgGrade = item.AcademicRecords.Count == 0 ? 0 : (sumGrade / item.AcademicRecords.Count);
                            }
                            @Html.Raw(avgGrade)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
